html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
 color: inherit;
 text-decoration: none;
}

img {
  max-width: 100%;
}

.body {
  min-width: 1920px;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

body h1,body h2,body h3,body h4,body h5,body h6 {
  margin:0;
}
/* constant */
/* --main-font arial; */



/* glob */
@font-face {
  font-family: "Montserrat";
  src: local('Montserrat'),
  url(../fonts/montserrat-variablefont_wght-webfont.woff),
  url(../fonts/montserrat-variablefont_wght-webfont.woff2);
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}


.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.container {
  min-width: 1920px;
  padding: 0 75px;
  margin: 0 auto;
}

.section-title {
  font-size: 48px;
  line-height: 58.51px;
  font-weight: 400;
}

.text-descr {
  font-size: 16px;
  line-height: 2em;
  font-weight: 400;
}

/* header */

.header__container {
   padding-top: 14px;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.logo-link__img-header {
  margin-bottom: 10px;
}

.nav-list__item {
  font-size: 18px;
  font-weight: 600;
}

.nav-list__item:not(:last-child) {
  margin-right: 85px;
}

.nav {
  margin-bottom: 8px;
}

/* hero */

.section-hero__container{
  position: relative;
  margin-bottom: 100px;
}
.section-hero__block {
  padding: 100px 850px 100px 80px;
}
.section-hero__image {
  position: absolute;
  z-index: -1;
  height: 100%;
}

.hero-image__img {
  height: 100%;
}

.section-hero__title {
  font-size: 70px;
  line-height: 85px;
  font-weight: 800;
  margin-bottom: 24px;
  color: white;
}

.section-hero__descr {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: white;
}

.btn {
 background-color: rgba(255, 153, 0, 1);
 color: white;
 border: none;
 cursor: pointer;
}

.section-hero__btn{
  margin-top: 90px;
  padding: 24.83px 38px;
  font-size: 23.46px;
  line-height: 28.6px;
  font-weight: 700;
}

.section-hero__bullets {
  position: absolute;
  z-index: 10;
  bottom: 30px;
  right: 47.7%;
  /* left: 51%; */
}

/* about-us */

.section-about__container{
  margin-bottom: 98px;

}

.section-about__title {
  padding-top: 3px;
  padding-left: 4px;
  margin-bottom: 17px;
  font-size: 48px;

}
.about-left {
position: relative;
margin-right: 32px;
}

.about-left__img {
  height: calc(100% - 4px);
  width: 100%;
}


.about-list__title{
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 27px;
  font-weight: 700;
}
.about-blocks__about-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 196px;
  bottom: 4px;
}
.section-about__descr{
  padding-right: 515px;
  margin-bottom: 50px;
  line-height: 32.15px;
  letter-spacing: 0.034px;
}

.about-more{
 background:  rgba(0, 0, 0, 0.5)
}

.about-more__text{
  margin-left: 50px;
  margin-right: 363px;
  width: 455px;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
}

.about-more__btn {
  padding: 17px 36px;
  position: absolute;
  right: 50px;
  background-color: transparent;
  color: white;
  outline: 3px solid #FF9900;
  cursor: pointer;
  border: none;
  font-weight: 600;
}

.about-list__item {
   height: 295px;
  width: 870px;
  background-position: 60px center;
  background-repeat: no-repeat;
  border: 1px solid #CACACA;
}

.about-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.about-list__text {
  padding: 65px 112px 65px 300px;
}

.about-list-img1 {
background-image: url(../img/about_1.svg);
}

.about-list-img2 {
  background-image: url(../img/about_2.svg);
}

/* work */

.section-work {
  margin-bottom: 105px;
}

.section-work__title {
  margin-bottom: 49px;
  letter-spacing: 0.27px;
}

.work-list {
margin-bottom: 43px;
}
.work-list__work-item {
font-size: 18px;
letter-spacing: 0.28px;
}

.work-list__work-item:not(:last-child) {
  margin-right: 86px;
}

.work-list__work-item:first-child {
  margin-right: 85px;
}

.step-1 {
  position: relative;
}

.step-1__descr {
  width: 760px;
  line-height: 32px;
  letter-spacing: 0.04px;
}

.step-1__img {
  position: absolute;
  width: 870px;
  height: 460px;
  top: 10px;
  right: 0;
}


.btn-both__btn-more {
   margin-right: 33px;
   padding: 20px 39px;
   font-weight: 700;
}

.btn-both__contract {
  outline: 1px solid #333333;
  padding: 20px 37px;
}

.step-1__title {
  padding-top: 2px;
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.step-1__descr {
  margin: 0;
  margin-bottom: 50px;
}

/* faq */

.section-faq {
  margin-bottom: 100px;
}

.faq-container__title {
  position: relative;
  padding-bottom: 40px;
  border-bottom: 0.5px solid #CACACA;
  color: #333333;
}

.faq-list__item {
  position: relative;
  display: inline-block;
  justify-content: space-between;
  align-items:center;
  padding: 38.5px 0;
  /* box-shadow: 0 -0.5px 0 #CACACA, 0 0.5px 0 #CACACA ; */
  border-top: 0.5px solid #CACACA;
  border-bottom: 0.5px solid #CACACA;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}


/* .faq-list__item:not(:last-child) {
margin-bottom: 39px;
} */

.faq-list__text {
  font-size: 24px;
  color: #333333;
}

.faq-list__img  {
  position: absolute;
  top: 30px;
  right: 0;
  width: 50px;
  height: 50px;
}

.faq-list__symbol {
  color: #CACACA;
}

/* footer */

.footer-container {
  min-height: 594px;
  position: relative;
  padding: 50px 75px;
  background-color: #222222;
}

.footer-list {
  justify-content: space-between;
}

.application-title {
  margin-bottom: 25px;
  font-size: 48px;
  line-height: 59px;
  font-weight: 400;
}

.footer-list__item {
  width: 590px;
  color: rgba(202, 202, 202, 1);
}

.footer-list__item-form {
  padding: 2px 8px 0 12px;
}


.logo-link__img-footer {
  margin-bottom: 15px;
}

.footer-links__item {
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  }


.social-links {
  position: absolute;
  bottom: 47px;
}

.social-links__item:not(:last-child) {
  margin-right: 25px;
}


.application-form__item {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-left: 24px;
  min-height: 60px;
  border: none;
  background-color: #414141;
  color:
  #CACACA;
  font-weight: 400;
}


.application-form__item-textarea {
  margin-bottom: 32px;
}

  .application-form__item-textarea {
padding-top: 20px;
  }

  .application-form__btn {
  margin-right: 22px;
  padding: 19px 52px;
  font-weight: 700;
  }

  .application-form__both {
    align-items: center;
  }

  .application-form__agree {
    margin-right: 4px;
    font-size: 16px;
  }

  .footer-list__item-descr {
    padding-top: 87px;
    padding-left: 229px;
  }


